# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

src/main/java/com/ebell495/usdaconnector/Main.java
src/main/java/Main.java
*.class
gradlew.bat
gradlew

# Ignore Eclipse stuff
.settings
.classpath
.project
